doctype
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name='description', content='#{desc}')
  title= title
  link(rel='shortcut icon', href='favicon.ico')
  //-
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-57-precomposed.png')

  - if (ios)
    link(rel='stylesheet', href='framework7/css/framework7.ios.min.css')
    link(rel='stylesheet', href='framework7/css/framework7.ios.colors.min.css')
  - else
    link(rel='stylesheet', href='framework7/css/framework7.material.min.css')
    link(rel='stylesheet', href='framework7/css/framework7.material.colors.min.css')
  link(rel="stylesheet", href="css/style.css")

  body
    .statusbar-overlay
    include panel
    .views
      .view.view-main.navbar-through
        .navbar.navbar-hidden
          .navbar-inner

        .pages
          .page.no-navbar
            .page-content
              .pageloader
                span.preloader

    block component

    script(src='framework7/js/framework7.min.js')
    script(src='js/app.js')
