.panel-overlay
.panel.panel-right.panel-reveal.layout-dark
  .content-block-title Right Panel
  .content-block
    p This is a side panel. You can close it by clicking outsite or on this link:
      a(href="#").close-panel close me
