mixin navbar
  .navbar
    .navbar-inner
      .left
        a.back.icon-only(href='#')
          i.icon.icon-back
      .center.sliding Welcome
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars

template#login
  if (ios)
    +navbar

  .page(data-page="login")
    if (!ios)
      +navbar
    .page-content#loginContent
      login-component
