# system
.DS_Store
Thumbs.db
Desktop.ini

# dependency
node_modules
bower_components

# log
*.log
npm-debug.log*

# cache

# build & release
dist
build
release

# project config
.idea
.jsconfig
.settings
.vscode
