.card
  .card-header Vue.js
  .card-content
    .card-content-inner
      img(src='/img/logo-vue.png', width='150', height='150', alt='Vue.js logo')
      p Vue.js is a library for building interactive web interfaces. It provides data-reactive components with a simple and flexible API. Core features include:
      ul
        li Dead simple, unobtrusive reactivity using plain JavaScript objects
        li Component-oriented development style with tooling support
        li Lean and extensible core
        li Flexible transition effect system
        li Fast without the need for complex optimization
  .card-footer
    a.external(href='http://vuejs.org/') Official Website
