.card
  .card-header Example
  .card-content
    .card-content-inner
      img.logo(src='/img/logo.png', width='303', height='100', alt='logo')
      p A starter project structure for framework7 app, using Node and Express for server rendering, the MVVM lib -- Vue.js is optional, but for recommended, because it could help us to improve building modern web interfaces simply and efficiently.

      p It is not only a template boilerplate, but a toolkit for development, which is made by a series of custom tasks written in js, and some useful middlewares for express, for the purpose of getting rid of the traditional gulp.

      p Give a login example, please fill the valid email and enough long password.
  .card-footer
    a#link(href='#' @click='redirect') Have a try?
