.card
  .card-header Framework7
  .card-content
    .card-content-inner
      img(src='/img/logo-f7.png', width='150', height='150', alt='Framework7 logo')
      p Framework7 - is a free and open source mobile HTML framework to develop hybrid mobile apps or web apps with iOS & Android native look and feel. It is also an indispensable prototyping apps tool to show working app prototype as soon as possible in case you need to.

      p This little example will show you how to maintain both iOS and Material Themes in single app.

      img.smaller(src='/img/ios.png', width='50', height='50', alt='iOS logo')
      img.smaller(src='/img/android.png', width='50', height='50', alt='Android logo')
  .card-footer
    a.external(href='http://www.idangero.us/framework7/') Official Website
