.swiper-container
  height 100%

.swiper-slide
  span
    display block
    text-align center

.card
  img
    display block
    size 150px
    margin 0 auto
    &.logo
      size 303px 100px
    &.smaller
      display inline-block
      size 70px
