mixin navbar
  .navbar.navbar-hidden
    .navbar-inner

template#intro
  if (ios)
    +navbar

  .page.no-navbar(data-page='intro')
    if (!ios)
      +navbar
    .page-content
      .content-block
        a#link(href='#' @click='redirect') Login Page
