mixin navbar
  .navbar.navbar-hidden
    .navbar-inner

template#intro
  if (ios)
    +navbar

  .page.no-navbar(data-page='intro')
    if (!ios)
      +navbar
    .page-content
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            include card-f7
          .swiper-slide
            include card-vue
          .swiper-slide
            include card-starter
        .swiper-pagination
