mixin navbar
  .navbar
    .navbar-inner
      .center.sliding Profile
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars

template#profile
  if (ios)
    +navbar

  .page(data-page='profile')
    if (!ios)
      +navbar
    .page-content#profileContent
      profile-component
